* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Style Start */
.body {
    background-color: #d9dcd6;
}
/* Body Style End */

/* Header Style Start */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Header Style End*/

/* Paragraph and Text Style Start */
.p {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: center;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #2589bd;
}

.h3 {
    color: green;
}
/* Paragraph and Text Style End */

